.container {
    background: white;
    display: inline-block;
    padding: 40px;
    border-radius: 10px;
    /* width: calc(581px - 500px); */
    /* justify-content: center; */
}

.logo {
    width: 265px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    color: #FFFFFF
}

.logoText {
    color: #333333;
}

.input {
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    width: calc(500px - 16px);
    height: 60px;
    padding-left: 16px;
    border: 1px solid #999999;
}
.input:hover {
    border-color: #848FE2;
}

.input:focus {
    border-color: #4659E4;
    outline: none;
}

/* input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
} */
input[type='date']::-webkit-calendar-picker-indicator {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
}

.fileBox {
}

.fileBox div {
    border: none;
    display: flex;
    align-items: center;
}

.fileBox label {
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #FFFFF;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    width: 70px;
    border-radius: 10px;
}

.fileBox label:hover {
    background-color: #848FE2;
}

.fileBox label:focus {
    background-color: #4659E4;
}

.fileBox .uploadName {
    display: inline-block;
    border: 1px solid #999999;
    color: #999999;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

.fileBox .uploadName:hover {
    border-color: #848FE2;
}

.fileBox .uploadName:focus {
    border-color: #4659E4;
}


.fileBox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.warnMsg {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    color: red;
    padding-left: 16px;
}

.gender ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gender li {
    margin-top: 10px;
    padding-left: 16px;
    width: calc(500px - 16px);
    height: 60px;
    display: flex;
    align-items: center;
}

.gender li input {
    margin-right: 8px;
}

.gender li label {
    margin-right: 16px;

}

.submit {
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
    color: #FFFFFF;
}

.active:hover {
    background-color: #848FE2;
}

.active:focus {
    background-color: #4659E4;
}